*{
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{
margin:0;
background:#0f172a;
color:white;
}

header{
height:75px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 40px;
background:#111827;
border-bottom:1px solid #334155;
}

header h1{
margin:0;
font-size:26px;
color:#38bdf8;
}

header p{
color:#94a3b8;
}

main{
width:95%;
max-width:1300px;
margin:25px auto;
}

h2{
color:#38bdf8;
font-size:20px;
}

/* BUSCADOR */

.busqueda{
background:#1e293b;
padding:20px;
border-radius:18px;
}

input{
background:#0f172a;
border:1px solid #38bdf8;
color:white;
padding:12px 18px;
border-radius:25px;
outline:none;
width:280px;
}

button{
background:#38bdf8;
color:#082f49;
border:none;
padding:12px 22px;
border-radius:25px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-3px);
box-shadow:0 8px 20px #38bdf855;
}

/* PANEL PRINCIPAL */

.app{
display:grid;
grid-template-columns:2fr 1fr;
gap:25px;
margin-top:25px;
}

/* RESULTADOS */

.contenido{
background:#1e293b;
padding:20px;
border-radius:20px;
}

#resultados{
display:grid;
gap:15px;
}

.tarjeta-cancion{
background:#0f172a;
display:flex;
align-items:center;
gap:15px;
padding:15px;
border-radius:15px;
transition:.3s;
}

.tarjeta-cancion:hover{
background:#172554;
transform:translateX(8px);
}

.tarjeta-cancion img{
width:85px;
height:85px;
border-radius:12px;
}

/* PLAYLIST */

aside{
background:#1e293b;
padding:20px;
border-radius:20px;
height:max-content;
position:sticky;
top:20px;
}

.playlist{
background:#0f172a;
padding:15px;
border-radius:15px;
margin-top:15px;
border-left:4px solid #38bdf8;
transition:.3s;
}

.playlist:hover{
transform:translateX(8px);
background:#172554;
}

.canciones-playlist div{
background:#1e293b;
padding:10px;
border-radius:10px;
margin-top:8px;
}

.mensaje{
color:#94a3b8;
text-align:center;
}
